[submodule "cell-index"]
	path = public/static/html/components/cell-index
	url = https://github.com/zababurinsv/cell-index
    branch = master
[submodule "whitelist"]
	path = whitelist
	url = https://github.com/zababurinsv/whitelist
    branch = master
[submodule "config"]
	path = public/static/html/components/component_modules/config
	url = https://github.com/zababurinsv/config
    branch = master